body {
  display: flex;
  flex-direction: column;
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header{
  background-color: #2a9d8f;
  padding:0.001rem;
  color: #e9c46a;
  
}

.search{
  margin: 1rem;
  background-color: transparent;
  border: 2px solid #264653;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 50px;
  color: white;
  padding: 0.5rem 1.5rem ;
  display: flex;
  justify-content: flex-end;

}

.search:focus{
  outline: 0;
}

.movie{
  background-color: #264653;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  color: #e76f51;
}

.movie:hover .movie-over{
  transform: translateY(0%);
}




















